.watchlist-movie {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background: #233633;
  color: #fff;
  position: relative;
}

.watchlist-title {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.watchlist-title div > .bookmark {
  position: relative;
}

.watchlist-title > p {
  margin-left: auto;
}

.title {
  color: #fff;
  font-weight: lighter;
}

.watchlist-info {
  width: 320px;
  position: relative;
  padding-bottom: 50px;
}

.watchlist-movie > img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.watchlist-remove {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watchlist-remove > button {
  padding: 5px 10px;
  border: none;
}

.runtime {
  padding: 3px 10px;
  background: #b08511;
}

@media (max-width: 600px) {
  .watchlist-movie > img {
    width: 320px;
  }
  .watchlist-info {
    width: 320px;
  }
}
