.search {
  width: calc(100% - 150px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.main-container {
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 10px;
}

.main-container > h1 {
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  width: 300px;
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
}

.search-btn {
  padding: 10px 20px;
  background: #fff;
  border: none;
  text-transform: uppercase;
}

.search-container {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 20px;
}

@media (max-width: 600px) {
  .search {
    width: 100%;
  }
}
