.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  width: 150px;
  background: #172d34;
  transition: 0.7s;
  z-index: 200;
}

.sidebar > h2 {
  position: absolute;
  margin-top: 10px;
  top: 0;
  padding-bottom: 5px;
  color: #8c9fb4;
  border-bottom: 1px solid #bebebe;
}

.sidebar h2 > span {
  color: #be9d36;
}
.link {
  width: 100%;
  text-align: center;
  height: 100px;
  font-size: 30px;
  color: #5d838f;
  cursor: pointer;
}

.link > p {
  font-size: 16px;
  letter-spacing: 0.15rem;
}

.close-side {
  position: absolute;
  margin-top: 10px;
  top: 0;
  left: -45px;
  width: 40px;
  height: 40px;
  color: #5d838f;
  place-items: center;
  border: #fff 1px solid;
  font-size: 20px;
  background: #172d34;
  display: none;
}

@media (max-width: 600px) {
  .sidebar {
    right: -150px;
  }

  .toggled {
    right: 0;
  }

  .close-side {
    display: grid;
  }
}
